                .main {
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    /* margin-right: 100px; */
                }
                
                .totalposts {
                    margin-left: 80px;
                }
                
                .pagination {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    margin-right: 70px;
                    cursor: pointer;
                }
                
                .pageitem {
                    margin: 10px;
                    border-radius: 10px;
                }
                /* .person {
    margin: 50px;
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
} */
                /* .person {
                    margin: 10px;
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    margin-left: 0px;
                }
                
                .img {
                    height: 50px;
                    width: 50px;
                    border: 1px solid black;
                    border-radius: 20px;
                } */
                
                .pagelink {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    height: 20px;
                    width: 20px;
                    padding: 3px;
                    margin-bottom: 5px;
                    margin-left: 0px;
                }
                
                @media only screen and (max-width: 320px) {
                    .pagination {
                        margin-top: 5px;
                        margin-bottom: 30px;
                        height: 15px;
                        width: 15px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        margin-left: 250px;
                    }
                }