/* .person {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

.img {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 40px;
}
.cardcontent{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    margin: 5px 53px 5px 53px;
    border: 1px solid  gainsboro;
   
}


.person {
    background-color: white;
    padding: 2px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
}

.details {
    height: 30px;
    width: 80px;
    background-color: navy;
    margin-top: 70px;
    color: white;
    
}
.btndata{
   
     display: flex;
     flex-direction: column;
     justify-content: center;
     border: 1px solid black;
     width: 50%;
    margin: 3px auto;
    font-size: 8px;
     
}

@media only screen and (max-width: 320px)   {
    .person {
        padding: 10px;
        height: 30px;
        width: 295px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        font-size: 8px;
        margin: none;
        
    }
    .img {
        height: 30px;
        width: 30px;
        border-radius: 10px;
    }
    .btn {
        height: 20px;
    }
    .details {
        height: 10px;
        width: 30px;
        padding: 1px;
        margin-bottom: 5px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 540px) 
{
    .person {
        padding: 10px;
        height: 50px;
        width: 380px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        font-size: 8px;
        margin: none;
        
    }
    .img {
        height: 30px;
        width: 30px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: -75px;

    }
    .btn {
        height: 30px;
        margin-bottom: 20px;
        width: 30px;
        padding: 3px;
    }
    .details {
        height: 20px;
        width: 50px;
        padding: 1px;
        margin-bottom: 7px;
        margin-top: 20px;
        margin-left: 40px;
        
    }
    .btndata{
        font-size: 8px;
    }

}


@media only screen and (min-width: 320px)   {
    .cardcontent{
        margin: 0px auto;
       
    }
    
    .person {
        padding: 10px;
        height: 60px;
        /* width: 295px; */
        width: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        font-size: 8px;
        margin: none;
        margin-left: -10px;
        
    }
    .img {
        height: 30px;
        width: 30px;
        border-radius: 10px;
        
        margin: 3px auto;
        margin-right: 10px;
        margin-top: 10px;
    }
    .btn {
        height: 20px;
        width: 20px;
        margin-right: 40px;
        padding: 1px;
    }
    .details {
        height: 20px;
        width: 30px;
        padding: 1px;
        font-size: 8px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px)
{
    .cardcontent{
        margin: 0px auto;
       
    }
    
    .person {
        padding: 10px;
        height: 110px;
        /* width: 295px; */
        width: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        font-size: 16px;
        margin: 1px auto;
        margin-left: -10px;
        
    }
    .img {
        height: 60px;
        width: 60px;
        border-radius: 25px;
        margin-right: 50px;
        
        margin: 3px auto;
        margin-right: 30px;
        margin-top: 10px;
    }
    .btn {
        height: 20px;
        width: 40px;
        margin-right: 40px;
        padding: 1px;
    }
    .details {
        height: 30px;
        width: 70px;
        padding: 1px;
        font-size: 10px;
        margin-right: 2px;
        margin-bottom: 5px;
        margin-top: 60px;
    }

}


@media only screen and (min-width: 1024px)
{
    .cardcontent{
        margin: 0px auto;
       
    }
    
    .person {
        padding: 10px;
        height: 140px;
        /* width: 295px; */
        width: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin: 1px auto;
        margin-left: -10px;
        
    }
    .img {
        height: 60px;
        width: 60px;
        border-radius: 25px;
        margin-right: 50px;
        
        margin: 3px auto;
        margin-right: 50px;
        margin-top: 30px;
    }
    .btn {
        height: 20px;
        width: 40px;
        margin-right: 40px;
        padding: 1px;
    }
    .details {
        height: 40px;
        width: 80px;
        padding: 1px;
        font-size: 15px;
        margin-left: 60px;
        margin-right: 2px;
        margin-bottom: 5px;
        margin-top: 60px;
    }

}