body {
    padding: 0;
    margin: 0;
}

.nav {
    padding: 20px;
    width: 100%;
    background-color: rgb(4, 151, 241);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.search {
    padding: 4px;
    padding-right: 80px;
    border-radius: 4px;
    border: grey;
    box-shadow: rgba();
}

.filter {
    margin: 1px;
    padding: 4px;
    border-radius: 4px;
    border: grey;
}

@media only screen and (max-width: 320px) {
    .nav {
        padding: 10px;
        height: 30px;
        width: 295px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        /* margin-left: 40px; */
        font-size: 8px;
        /* width: 100px;
        display: flex;
        justify-content: center; */
        /* padding: 10px; */
    }
    .search {
        margin-left: 30px;
        width: 30px;
        font-size: 8px;
    }
    .filter {
        margin-left: 3px;
        width: 40px;
        font-size: 8px;
    }
}